.cabecalho{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-left: 1rem;

}

.cabecalho-nav{
	margin-left: 7rem;
}

.rodape .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: right;
}